<%= form_for @lyric do |f| %>
 <div>
     <%= f.text_field :title %>
 </div>
 <div>
     <%= f.text_field :artist_id %>
 </div>
 <div>
     <%= f.text_area :text %>
 </div>
 <div>
     <%= f.file_field :image %>
 </div>
 <div>
     <%= f.text_field :url %>
 </div>
 <div>
     <%= f.submit "登録" %>
 </div>
<% end %>
