<head>
    <meta http-equiv="Content-Script-Type" content="text/javascript">
</head>
<body>
    <h1>サビ一覧</h1>
        <div> <!--  検索拡張機能  -->
            <%= form_tag(lyrics_path, :method => "get") do %>
            <%= label_tag :title, "タイトル" %><%= text_field_tag :title,params[:title] %>
            <%= submit_tag "検索" %>
            <% end %>
        </div>
        </br>
        <div class='container'>
                <% @lyrics.each do |lyric| %>
                    <div class='content'>
                        <%= image_tag(lyric.image, id: "show_container-#{lyric.id}") %>
                        <p class='artist_title'>
                            <%= lyric.artist.name %>/<%= link_to lyric.title,lyric_path(lyric) %>
                        </p>
                        <p class='text'>
                            <%= lyric.text %>
                        </p>

                        </p>
                        </div>
                <% end %>
                
        </div>
</body>
    